<nav class="left">
			<ul>
				<li class="nav-on">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="">Research Summary</a>
				</li>
				<li>
					<a href="">Contacts</a>
				</li>
				<li>
					<a href="">Events</a>
				</li>
				<li>
					<a href="">Group Members</a>
				</li>
				<li>
					<a href="">Publication</a>
				</li>
				<li>
					<a href="">Position Availability</a>
				</li>
				<li>
					<a href="#">Lab Intranet</a>
				</li>
			</ul>
		</nav>
